<!doctype html>
<html lang="en">
  <%- include('../user-partials/head') %>
<body>
    <div class="page sub-page">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="hero">
            <div class="hero-wrapper">
                <!--============ Secondary Navigation ===============================================================-->
                <!--============ End Secondary Navigation ===========================================================-->
                <!--============ Main Navigation ====================================================================-->
                <div class="main-navigation">
                    <div class="container">
                      <%- include('../user-partials/navbar') %>
                        <!--end navbar-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/user/home-page">Ana Sayfa</a></li>                            
                            <li class="breadcrumb-item active">Giriş</li>
                        </ol>
                        <!--end breadcrumb-->
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Main Navigation ================================================================-->
                <!--============ Hero Form ==========================================================================-->
                <!--end collapse-->
                <!--============ End Hero Form ======================================================================-->
                <!--============ Page Title =========================================================================-->
                <div class="page-title">
                    <div class="container">
                        <h1>Giriş</h1>
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Page Title =====================================================================-->
                <div class="background"></div>
                <!--end background-->
            </div>
            <!--end hero-wrapper-->
        </section>
        <!--end hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <form action="/auth/login" method="post" class="form clearfix">
                                <div class="form-group">
                                    <label for="email" class="col-form-label required">Kullanıcı Adı</label>
                                    <input name="username" type="text" class="form-control"  placeholder="Kullanıcı Adı" required>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="password" class="col-form-label required">Şifre</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="Şifre" required>
                                </div>
                                <!--end form-group-->
                                <div class="d-flex justify-content-between align-items-baseline">
                                   
                                    <button type="submit" class="btn btn-primary">Giriş</button>
                                </div>
                            </form>
                            <hr>
                            <p>
                                Henüz bir hesabınız yok mu? <a href="/auth/register" class="link">Kayıt Ol</a>
                            </p>
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
        <!--end content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <%- include('../user-partials/footer') %>
        <!--end footer-->
    </div>
    <!--end page-->

    <%- include('../user-partials/script') %>

</body>
</html>
