<!doctype html>
<html lang="en">
<%- include('../user-partials/head') %>
<body>
    <div class="page sub-page">
        <header class="hero">
            <div class="hero-wrapper">
                <div class="main-navigation">
                    <div class="container">
                        <%- include('../user-partials/navbar') %>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                            <li class="breadcrumb-item active">Kayıt Ol</li>
                        </ol>
                    </div>
                </div>
                <div class="page-title">
                    <div class="container">
                        <h1>Kayıt Ol</h1>
                    </div>
                </div>
                <div class="background"></div>
            </div>
        </header>

        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                            <form action="/auth/register" method="post" class="form clearfix" onsubmit="return validatePassword()">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">Kullanıcı Adı</label>
                                    <input name="username" type="text" class="form-control" id="name" placeholder="Kullanıcı Adı" required>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label required">Email</label>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-form-label required">Şifre</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="Şifre" required>
                                </div>
                                <div class="form-group">
                                    <label for="repeat_password" class="col-form-label required">Şifreyi Tekrar Yazın</label>
                                    <input name="repeat_password" type="password" class="form-control" id="repeat_password" placeholder="Şifreyi Tekrar Yazın" required>
                                </div>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                                </div>
                            </form>
                            <hr>
                            <p>
                                Zaten bir hesabınız var mı? <a href="/auth/login" class="link">Giriş Yap</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <%- include('../user-partials/footer') %>
    </div>

    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var repeatPassword = document.getElementById("repeat_password").value;
            if (password !== repeatPassword) {
                alert("Şifreler eşleşmiyor. Lütfen tekrar deneyin.");
                return false;
            }
            return true;
        }
    </script>
    <%- include('../user-partials/script') %>
</body>
</html>
