<footer class="footer">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a href="#" class="brand">
                        <img src="/userstatic/assets/img/logo.png" alt="">
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet
                        fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                    </p>
                </div>
                <!--end col-md-5-->
                <div class="col-md-3">
                    <h2>Yönlendirme</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <nav>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/user/home-page">Ana Sayfa</a>
                                    </li>
                                    <li>
                                        <a href="/user/shop-page">İşletmeler</a>
                                    </li>
                                    <li>
                                        <a href="/user/announcement-page">Duyurular</a>
                                    </li>                                   
                                    
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <nav>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/auth/login">Giriş Yap</a>
                                    </li>
                                    <li>
                                        <a href="/auth/register">Üye Ol</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-md-3-->
                <div class="col-md-4">
                    <h2>İletişim</h2>
                    <address>
                        <figure>
                            Samsun<br>
                            Atakum Mevlana Mahallesi
                        </figure>
                        <br>
                        <strong>Email:</strong> <a>gokberkmustafa@outlook.com</a>
                        <br>               
                        <br>
                        <br>
                    </address>
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
        <div class="background">
            <div class="background-image original-size">
                <img src="/userstatic/assets/img/footer-background-icons.jpg" alt="">
            </div>
            <!--end background-image-->
        </div>
        <!--end background-->
    </div>
</footer>