<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" href="index.html">
        <img src="/userstatic/assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <!--Main navigation list-->
        <ul class="navbar-nav">
            <a class="nav-link" href="/user/home-page">Ana sayfa</a>
            <a class="nav-link" href="/user/shop-page">İşletmeler</a>
            <a class="nav-link" href="/user/announcement-page">Duyurular</a>  
            <% if(userRole =="admin") {%>
                <a class="nav-link" href="/admin/">Admin Paneli</a> 
                <% } %> 
            <a class="nav-link" href="#">Giriş Yap</a>
            <a class="nav-link" href="#">Kayıt Ol</a>
        </ul>
        <!--Main navigation list-->
    </div>
    <!--end navbar-collapse-->
    
</nav>